Source: cli
Section: misc
Priority: optional
Maintainer: Confluent Packaging <packages@confluent.io>
Build-Depends: debhelper (>= 9), make
Standards-Version: 3.9.3
Homepage: https://docs.confluent.io/confluent-cli/current/overview.html

Package: confluent
Architecture: any
Depends: ${misc:Depends}
Description: Command Line Interface for managing Confluent Cloud and Confluent Platform
