// Copyright 2021 Confluent Inc. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

/*
Service Quota API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.0.1-alpha0
Contact: api-framework-team@confluent.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package v1

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type AppliedQuotasServiceQuotaV1Api interface {

	/*
	GetServiceQuotaV1AppliedQuota Read an Applied Quota

	[![Open Preview](https://img.shields.io/badge/Lifecycle%20Stage-Open%20Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to read an applied quota.

	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @param id The unique identifier for the applied quota.
	 @return ApiGetServiceQuotaV1AppliedQuotaRequest
	*/
	GetServiceQuotaV1AppliedQuota(ctx _context.Context, id string) ApiGetServiceQuotaV1AppliedQuotaRequest

	// GetServiceQuotaV1AppliedQuotaExecute executes the request
	//  @return ServiceQuotaV1AppliedQuota
	GetServiceQuotaV1AppliedQuotaExecute(r ApiGetServiceQuotaV1AppliedQuotaRequest) (ServiceQuotaV1AppliedQuota, *_nethttp.Response, error)

	/*
	ListServiceQuotaV1AppliedQuotas List of Applied Quotas

	[![Open Preview](https://img.shields.io/badge/Lifecycle%20Stage-Open%20Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Retrieve a sorted, filtered, paginated list of all applied quotas.

Shows all quotas for a given scope.


	 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 @return ApiListServiceQuotaV1AppliedQuotasRequest
	*/
	ListServiceQuotaV1AppliedQuotas(ctx _context.Context) ApiListServiceQuotaV1AppliedQuotasRequest

	// ListServiceQuotaV1AppliedQuotasExecute executes the request
	//  @return ServiceQuotaV1AppliedQuotaList
	ListServiceQuotaV1AppliedQuotasExecute(r ApiListServiceQuotaV1AppliedQuotasRequest) (ServiceQuotaV1AppliedQuotaList, *_nethttp.Response, error)
}

// AppliedQuotasServiceQuotaV1ApiService AppliedQuotasServiceQuotaV1Api service
type AppliedQuotasServiceQuotaV1ApiService service

type ApiGetServiceQuotaV1AppliedQuotaRequest struct {
	ctx _context.Context
	ApiService AppliedQuotasServiceQuotaV1Api
	id string
	environment *string
	network *string
	kafkaCluster *string
}

// The environment ID the quota is associated with. This field is only required when retrieving a single quota and the scope of quota is \&quot;ENVIRONMENT\&quot; or \&quot;NETWORK\&quot; or \&quot;KAFKA_CLUSTER\&quot;. 
func (r ApiGetServiceQuotaV1AppliedQuotaRequest) Environment(environment string) ApiGetServiceQuotaV1AppliedQuotaRequest {
	r.environment = &environment
	return r
}
// The network ID the quota is associated with. This field is only required when retrieving a single quota and the scope of quota is \&quot;NETWORK\&quot;. 
func (r ApiGetServiceQuotaV1AppliedQuotaRequest) Network(network string) ApiGetServiceQuotaV1AppliedQuotaRequest {
	r.network = &network
	return r
}
// The kafka cluster ID the quota is associated with. This field is required only when the scope of quota is \&quot;KAFKA_CLUSTER\&quot;. 
func (r ApiGetServiceQuotaV1AppliedQuotaRequest) KafkaCluster(kafkaCluster string) ApiGetServiceQuotaV1AppliedQuotaRequest {
	r.kafkaCluster = &kafkaCluster
	return r
}

func (r ApiGetServiceQuotaV1AppliedQuotaRequest) Execute() (ServiceQuotaV1AppliedQuota, *_nethttp.Response, error) {
	return r.ApiService.GetServiceQuotaV1AppliedQuotaExecute(r)
}

/*
GetServiceQuotaV1AppliedQuota Read an Applied Quota

[![Open Preview](https://img.shields.io/badge/Lifecycle%20Stage-Open%20Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Make a request to read an applied quota.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier for the applied quota.
 @return ApiGetServiceQuotaV1AppliedQuotaRequest
*/
func (a *AppliedQuotasServiceQuotaV1ApiService) GetServiceQuotaV1AppliedQuota(ctx _context.Context, id string) ApiGetServiceQuotaV1AppliedQuotaRequest {
	return ApiGetServiceQuotaV1AppliedQuotaRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ServiceQuotaV1AppliedQuota
func (a *AppliedQuotasServiceQuotaV1ApiService) GetServiceQuotaV1AppliedQuotaExecute(r ApiGetServiceQuotaV1AppliedQuotaRequest) (ServiceQuotaV1AppliedQuota, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ServiceQuotaV1AppliedQuota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppliedQuotasServiceQuotaV1ApiService.GetServiceQuotaV1AppliedQuota")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service-quota/v1/applied-quotas/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.environment != nil {
		localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	}
	if r.network != nil {
		localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	}
	if r.kafkaCluster != nil {
		localVarQueryParams.Add("kafka_cluster", parameterToString(*r.kafkaCluster, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListServiceQuotaV1AppliedQuotasRequest struct {
	ctx _context.Context
	ApiService AppliedQuotasServiceQuotaV1Api
	scope *string
	environment *string
	network *string
	kafkaCluster *string
	id *string
	pageSize *int32
	pageToken *string
}

// The applied scope the quota belongs to. 
func (r ApiListServiceQuotaV1AppliedQuotasRequest) Scope(scope string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.scope = &scope
	return r
}
// The environment ID the quota is associated with. 
func (r ApiListServiceQuotaV1AppliedQuotasRequest) Environment(environment string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.environment = &environment
	return r
}
// The network ID the quota is associated with. 
func (r ApiListServiceQuotaV1AppliedQuotasRequest) Network(network string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.network = &network
	return r
}
// The kafka cluster ID the quota is associated with. 
func (r ApiListServiceQuotaV1AppliedQuotasRequest) KafkaCluster(kafkaCluster string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.kafkaCluster = &kafkaCluster
	return r
}
// The id (quota code) that this quota belongs to. 
func (r ApiListServiceQuotaV1AppliedQuotasRequest) Id(id string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.id = &id
	return r
}
// A pagination size for collection requests.
func (r ApiListServiceQuotaV1AppliedQuotasRequest) PageSize(pageSize int32) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.pageSize = &pageSize
	return r
}
// An opaque pagination token for collection requests.
func (r ApiListServiceQuotaV1AppliedQuotasRequest) PageToken(pageToken string) ApiListServiceQuotaV1AppliedQuotasRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiListServiceQuotaV1AppliedQuotasRequest) Execute() (ServiceQuotaV1AppliedQuotaList, *_nethttp.Response, error) {
	return r.ApiService.ListServiceQuotaV1AppliedQuotasExecute(r)
}

/*
ListServiceQuotaV1AppliedQuotas List of Applied Quotas

[![Open Preview](https://img.shields.io/badge/Lifecycle%20Stage-Open%20Preview-%2300afba)](#section/Versioning/API-Lifecycle-Policy)

Retrieve a sorted, filtered, paginated list of all applied quotas.

Shows all quotas for a given scope.


 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListServiceQuotaV1AppliedQuotasRequest
*/
func (a *AppliedQuotasServiceQuotaV1ApiService) ListServiceQuotaV1AppliedQuotas(ctx _context.Context) ApiListServiceQuotaV1AppliedQuotasRequest {
	return ApiListServiceQuotaV1AppliedQuotasRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ServiceQuotaV1AppliedQuotaList
func (a *AppliedQuotasServiceQuotaV1ApiService) ListServiceQuotaV1AppliedQuotasExecute(r ApiListServiceQuotaV1AppliedQuotasRequest) (ServiceQuotaV1AppliedQuotaList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ServiceQuotaV1AppliedQuotaList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppliedQuotasServiceQuotaV1ApiService.ListServiceQuotaV1AppliedQuotas")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/service-quota/v1/applied-quotas"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.scope == nil {
		return localVarReturnValue, nil, reportError("scope is required and must be specified")
	}

	localVarQueryParams.Add("scope", parameterToString(*r.scope, ""))
	if r.environment != nil {
		localVarQueryParams.Add("environment", parameterToString(*r.environment, ""))
	}
	if r.network != nil {
		localVarQueryParams.Add("network", parameterToString(*r.network, ""))
	}
	if r.kafkaCluster != nil {
		localVarQueryParams.Add("kafka_cluster", parameterToString(*r.kafkaCluster, ""))
	}
	if r.id != nil {
		localVarQueryParams.Add("id", parameterToString(*r.id, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.pageToken != nil {
		localVarQueryParams.Add("page_token", parameterToString(*r.pageToken, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Failure
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
